/* GERAL */

body {
    font-family: 'Roboto', sans-serif;
}

/* MENU */

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-nav a {
    text-transform: uppercase;
}

/* SECTIONS- GERAL */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

section h2 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    color: #B54514;
    margin-bottom: 50px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn-action {
    background: #B54514;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
}

.btn-action:hover {
    background-color: #CB949E;
    text-decoration: none;
    color: #fff;
}

.btn-page {
    background: #CB949E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
}

.btn-page:hover {
    background-color: #B54514;
    text-decoration: none;
    color: #fff;
}

.card {
    margin-bottom: 30px;
    border: none;
    align-items: center;
}

.card-body {
    text-align: center;
}

/* SECTION - INTRODUÇÃO */

#intro {
    margin-top: 50px;
    background: linear-gradient(90deg, rgba(203, 148, 158, 0.8) 44.2%, rgba(149, 101, 101, 0) 84.03%);
    position: relative;
}

#intro img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#intro .intro-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.09rem;
    color: #fff;
    padding: 0 80px;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    #intro {
        background-color: rgba(203, 148, 158, 0.8);
    }

    #intro img {
        object-fit: cover;
    }
}

/* SECTION - APOIADORES */

#apoio {
    background-color: rgba(181, 69, 20, 0.1);
}

/* SECTION - BOLETIM */

.boletim-numeros {
    background: rgba(196, 196, 196, 0.3);
    border-radius: 30px;
    padding: 25px;
    margin: 5px;
    font-size: 2rem;
}

#boletim p {
    margin-top: -40px;
    text-align: center;
}

/* SECTION - META */

#meta {
    background-color: rgba(181, 69, 20, 0.1);
}

.progress {
    padding: 0;
    height: 3rem;
    border-radius: 20px;
    background-color: #c9c9c9;
}

.progress-bar {
    background-color: #CB949E;
    border-radius: 20px;
}

/* SECTION - LOCAIS */

#locais img {
    max-width: 140px;
}

/* SECTION - CONTATO */

@media screen and (max-width: 600px){
    #contact {
        margin-right: 10px;
    }
}

/* FOOTER */

footer {
    background-color: rgba(203, 148, 158);
    color: #fff;
    position: sticky;
    bottom: 0;
}

footer .card-body {
    background-color: rgba(203, 148, 158);
}

footer .card {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    footer {
        display: none;
    }
}